<div id="welcome-message">
    <h2>Welcome to watches marketplace</h2>
</div>
<div class="grid-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<!-- div.grid-container>div.d$*6.height-set{$}  Emmet -->
<div class="grid-container">
    <div class="d1 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d2 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d3 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d4 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d5 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d6 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d7 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d8 height-set">
        <p>Placeholder</p>
    </div>
    <div class="d9 height-set">
        <p>Placeholder</p>
    </div>
</div>